# Python
venv/
__pycache__/
*.pyc
.env

# Django
db.sqlite3

# Flutter
/frontend/build/
/frontend/.dart_tool/
/frontend/.packages
/frontend/.flutter-plugins
/frontend/pubspec.lock

# IDEs
.idea/
*.iml
.vscode/
