{% extends 'base.html' %}
{% block content %}
<div class="container d-flex align-items-center justify-content-center">
  <div class="card auth-card p-4">
      <h2 class="text-center">Login</h2>
      <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
              <label for="username" class="form-label">Usuário:</label>
              <input type="text" name="username" id="username" class="form-control" required>
          </div>
          <div class="mb-3">
              <label for="password" class="form-label">Senha:</label>
              <input type="password" name="password" id="password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-custom w-100">Entrar</button>
      </form>
      {% if error %}
      <div class="alert alert-danger mt-3">
          {{ error }}
      </div>
      {% endif %}
      <p class="text-center mt-3">
          Não tem uma conta? <a href="{% url 'register' %}" class="text-primary">Cadastre-se</a>
      </p>
  </div>
</div>
{% endblock %}
