{# templates/itineraries/home.html #}

{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="background section-1">
  <div class="container d-flex justify-content-center">
    <div class="row col-md-8 text-start mt-5">
      <div class="col-md-10 mt-5">
        <h1>The <span class="gradient-text">Smartest</span> Travel Planner</h1>
        <h1>Powered by <span class="gradient-text">AI</span></h1>
        <p>Get personalized itineraries, explore incredible destinations, and travel stress-free with AI-driven planning, bringing everything you need—weather, transport, and attractions—into one seamless experience.</p>
        <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg px-4 py-3">
          Start creating for free →
        </a>             
      </div>
    </div>
  </div>
</section>




{% endblock %}
