/* Fundo animado com gradiente */
body {
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
}

h1 { font-size: 3.5rem !important; }
h2 { font-size: 2.5rem !important; }
h3 { font-size: 2rem !important; }
h4 { font-size: 1.5rem !important; }
h5 { font-size: 1.25rem !important; }
h6 { font-size: 1rem !important; }
p { font-size: 1.25rem !important; }


nav {
    background-color: #1F2023;
    color: white;
}

ul li a, nav a {
    color: white !important;
}

.background {
    background: url('../img/background.jpg') no-repeat center center;
    background-size: cover;
    width: 100vw; /* Garante que a div ocupe 100% da largura da viewport */
    height: 100vh; /* Opcional: Se quiser cobrir 100% da altura da tela */
}

.section-1 h1 {
    color: white;
}

.section-1 p {
    color: #919191;
}

.section-1 button {
    background-color: #5558E5;
}

.gradient-text {
    background: linear-gradient(to right, #B557F9, #6865EE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Para compatibilidade com alguns navegadores */
    display: inline-block;
  }

footer {
    background-color: #1F2023;
    color: white;
}









body, html {
    height: 100%;
    margin: 0;
  }

  .login-section {
    background-color: #1a1a1a;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image-section {
    background-image: url('../img/coliseum-purple.jpeg'); /* Substitua pela URL da imagem ou use CSS inline */
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .form-control, .btn {
    margin-bottom: 15px;
  }